APP_NAME=pharmalink
APP_ENV=development
HTTP_ADDR=:8080
WORKER_CONCURRENCY=10
CORS_ALLOWED_ORIGINS=*
JWT_ISSUER=pharmalink
JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_TTL_MINUTES=30
JWT_REFRESH_TTL_HOURS=720

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=pharmalink
POSTGRES_PASSWORD=pharmalink
POSTGRES_DB=pharmalink
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=UTC

REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

PAYMENT_ACCESS_GRANT_HOURS=24
PAYMENT_ACCESS_FEE=3
PAYMENT_CURRENCY=TJS
PAYMENT_WEBHOOK_SECRET=change-me-webhook

OUTBOX_CHANNEL=outbox_new
